* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E8E8E8;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: Arial, sans-serif;
}

.title {
  margin: 0;
  padding: 20px;
  text-align: center;
}

.card {
  width: 430px;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Arial, sans-serif;
}

.card__header {
  width: 100%;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_image {
  max-width: 100%;
}

.card__content {
  padding: 15px;
}

.card__taglist {
  list-style: none;
  display: flex;
  margin-bottom: 15px;
}

.cart_tag {
  padding: 5px 10px;
  background: #e6e6e6;
  margin-right: 10px;
  border-radius: 5px;
}

.cart_tag--active {
  font-weight: bold;
  background: #b8b7b7;
}

.card__description {
  color: #333;
  line-height: 22px;
}

.card__button {
  display: inline-block;
  cursor: pointer;
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 3px;
  background: #3c8973;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.card__button:hover {
  background: #267764;
}

@media screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  .card {
    width: 100%;
  }
}
